<mat-toolbar class="app-title">Avaliable Rooms</mat-toolbar>
<div class="home-content">
    <div class="home-content" infiniteScroll (scrolled)="onScroll()">
        <mat-card class="home-card" *ngFor="let room of rooms">
            <mat-card-header>
                <mat-card-title>{{room.name}}</mat-card-title>
                <mat-card-subtitle>{{room.date}}</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image [src]="room.urlPhoto || noPhoto">
            <mat-card-content>
                <p>
                    {{room.description}}
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button color="accent" mat-raised-button (click)="openRoom(room.id)">Open</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>